<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email" placeholder="email address" type="email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="user.password" placeholder="password" type="text"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input [(ngModel)]="user.confirmPassword" placeholder="confirm password" type="text"></ion-input>
  </ion-item>

  <ion-button expand="block">Sign Up</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col><ion-router-link href="/sign-in">I already have an account</ion-router-link></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
