<ion-grid>
  <ion-row>
    <ion-col>

        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input placeholder="your first name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input placeholder="your last name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="email address" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input placeholder="phone number" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select placeholder="Select fruit">
            <ion-select-option value="apples">Male</ion-select-option>
            <ion-select-option value="oranges">Female</ion-select-option>
            <ion-select-option value="bananas">Other</ion-select-option>
          </ion-select>
        </ion-item>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-right">
      <ion-button size="small">Save</ion-button>
      <ion-button size="small" color="medium">Clear</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>



