<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-item class="ion-margin-bottom" >
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email" placeholder="email address" type="email"></ion-input>
  </ion-item>

  <ion-button expand="block">Reset Password</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col><ion-router-link href="/sign-in">Sign In</ion-router-link></ion-col>
      <ion-col class="ion-text-right"><ion-router-link href="/sign-up">Create account</ion-router-link></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
