<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="user.email" placeholder="email address" type="email"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="user.password" placeholder="your last name" type="text"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="login()">Sign In</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col><ion-router-link href="forgot-password">Forgot password?</ion-router-link></ion-col>
      <ion-col class="ion-text-right"><ion-router-link href="sign-up">Create Account</ion-router-link></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
