<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ 'SCHEDULE' | translate }}</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="clients">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>{{ 'CLIENTS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manufacturers">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label>{{ 'MANUFACTURERS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>{{ 'PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
